<div class="intro-page">

<div class="intro">
  <h2 class="sign-in-header">Sign In</h2>

  <form
    action="<%= session_url %>"
    method="post"
    class="sign-in">
    <%= auth_token_input %>

    <label class="sign-in-label">
      Username
      <input type="text" name="user[username]" value="">
    </label>

    <label class="sign-in-label">
      Password
      <input type="password" name="user[password]" value="">
    </label>

    <input class="sign-in-submit" type="submit" value="Sign In">
  </form>
  <p>
    Don't have an account? <%= link_to "Sign Up", new_user_url %>
  </p>
</div>

</div>
