<div class="intro-page">
  <div class="intro">
    <h2 class="sign-in-header">Sign Up</h2>

    <form
      action="<%= users_url %>"
      method="post"
      class="sign-in">
      <%= auth_token_input %>

      <% if flash.now[:errors] %>
        <label class="errors">
          <% flash.now[:errors].each do |error| %>
            <%= error %>
          <% end %>
        </label>
        <br/>
      <% end %>

      <label class="sign-in-label">
        Username
        <input type="text" name="user[username]" value="">
      </label>

      <label class="sign-in-label">
        Password
        <input type="password" name="user[password]" value="">
      </label>


      <input class="sign-in-submit" type="submit" value="Sign Up">
    </form>
  </div>
</div>
