/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 html {
   width: 100%;
   height: 100%;
 }

 body {
   width: 100%;
   height: 100%;
   margin: auto;
   min-width: 300px;
   font-family: 'Cabin', sans-serif;
 }

 .drawing-detail {
   text-align: center;
   position: relative;
   margin-top: 5%;
 }

 .hidden {
   display: none;
 }

 .ghost {
   font-size: 28px;
   position: relative;
   top: 3px;
   left: -5px;
   color: black;
 }

.navbar {
  min-height: 0px;
  border-radius: 0px;
  border-right: 0;
  border-left: 0;
}

 .navbar-nav > li > a {
   line-height: 0;
   background: white;
   left: 30px;
 }

 .navbar-inverse .navbar-nav > li > a {
   background: white;
   border: 1px solid black;
 }

 .navbar-inverse .navbar-nav > li > a:hover {
   background: white;
 }

 .navbar-inverse .navbar-nav > li > a:focus {
   background: white;
 }

 .navbar-inverse .navbar-nav > .open > a {
   background: white;
 }

 .navbar-nav > li > .dropdown-menu{
   left: 30px;
 }

 .navbar-inverse {
   background: url('../../haring-bwr.jpg');
   background-position: 200px 200px;
   background-size: 75%;
   position: fixed;
   width: 100%;
   z-index: 10;
   border: none;
   box-shadow: 0 0 8px 2px;
 }

 .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background: white;
  }

.navbar-right {
  position: absolute;
  right: 2%;
  margin: 5px;
}

.start-tour {
  margin-right: 5px;
}

#page-content {
  top: 5%;
}

#page-content-inner {
  margin: auto;
  width: 90%;
  position: relative;
  top: 25px;
  text-align: center;
  min-width: 801px;
}

.delete {
  display: none;
}

.dropdown-menu {
  z-index: 10;
}

.dropdown-menu:hover {
  cursor: pointer;
}

.dropdown-menu li:hover {
  cursor: pointer;
  color: teal;
}

.dropdown-menu li {
    position: relative;
    left: 10px;
    font-size: 20px;
}


.new-user-link {
  margin: -10px;
  padding:10px 20px;
}

#entire-page {
  position: absolute;
  width: 100%
}

.shepherd-step {
  z-index: 9;
}
