/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background: orange;
  width: 790px;
  height: 655px;
  margin: auto;
}

.index {
}

.index-element{
  float: left;
  margin: 5px;
  background: white;
  position: relative;
}

.stamp-index-element{
  width: 110px;
  height: 115px;
}

.square {
  width: 3px;
  height: 3px;
  float: left;
}

.drawn {
  background: black;
  width: 3px;
  height: 3px;
  float: left;
}


#drawing-canvas{
  background: white;
  outline: 1px solid black;
}

#color-picker {
  background: white;
  outline: 1px solid black;
}

#size-picker {
  background: white;
  position: relative;
  top: -4px;
  outline: 1px solid black;
}

#stroke-sample {
  background: white;
  position: relative;
  top: -4px;
  outline: 1px solid black;
}

#stamp-canvas {
  background: white;
}


.color-square {
  background: white;
  width: 58px;
  height: 58px;
  outline: 1px solid black;
  float: left
}

#color-bar {
  top: -7px;
  width: 580px;
  height: 58px;
}

#drawing-page {
  width: 800px;
  height: 650px;
  position: relative;
}

#drawing{
  width: 580px;
  height: 650px;
  position: absolute;
  top: 0;
  left: 0;
}

.stamp-canvas {
  display: none;
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.stamp-sidebar {
  width: 110px;
  height: 640px;
  position: absolute;
  top: 110px;
  right: 50px;
  outline: solid black 1px;
}

.drawing-toolbar {
  width: 580px;
  height: 150px;

}

.delete-my-stamp {
  position: absolute;
  bottom: 0;
  right: 0;
}

#selected-stamp {
  background: cornflowerblue;
}
