.drawing-author {
  position: absolute;
  bottom: 15px;
  left: 15px;
  background: rgba(0,0,0,0);
  font-weight: 700;
  font-size: 20px;
  width: 30%;
  background: white;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}

.drawing-likes-box {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 30%;
}

.drawing-likes-count {

  background: rgba(0,0,0,0);
  font-weight: 700;
  font-size: 20px;
  width: 100%;
  background: white;
  border-radius: 5px;
  cursor: pointer;
  overflow: auto;
  position: relative;
  bottom: 5px;
  box-shadow: black 0 0 0 2px;
}

.like-drawing-class {

  background: rgba(0,0,0,0);
  font-weight: 700;
  font-size: 20px;
  width: 100%;
  background: white;
  border: 1px solid red;
  box-shadow: black 0 0 0 2px;
  border-radius: 5px;
  cursor: pointer;
  overflow: auto;
}

.drawing-index-image {
  width: 60vh;
  height: 60vh;
  max-width: 500px;
  max-height: 500px;
}
