.intro-page {
  background: url('../../haring.jpg');
  background-position: 7% 20%;
  background-size: 1950px 1110px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%
}

.intro {
   background: #f3ede2;
   margin: 25vh 35vw;
   border-radius: 5px;
   min-width: 300px;
   width: 30%
 }

 .sign-in{
   padding: 50px;
   padding-top: 10px;
   padding-bottom: 40px;
 }

.sign-in-label{
  padding-left: 10px;
}

.sign-in-submit{
  margin-left: 10px;
}

.sign-in-header{
  padding-top: 30px;
  padding-left: 60px;
  padding-bottom: -30px;
}
