// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.intro {
  background: #f3ede2;
  margin: 200px;
}

.sign-in{
  padding: 50px;
}
